{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="cals">
        <div class="month mt-2">
            <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>November<br><span style="font-size:18px">2022</span></li>
            </ul>
        </div>
        
        <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        
        <ul class="days">
            {% for post in posts %}
                <li class="calendarimage" style="background-image: url({{ post.image.url }})";><span class="active">{{post.id}}</span> </li>
            {% endfor %}
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
