{% extends "network/layout.html" %}
{% load static %}

{% block body %}
  <body>
    <div class="container mt-5">
        <h1>Mental Health Tips!</h1>
            <h4>There is no health without mental health! Here are some of our top tips to help with boosting your mental health.</h4>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/3062/3062389.png" style="height: 4em;" alt="">
            </div>
            <h3 class="fs-4 text-center">Practice self-care and make yourself a priority</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/1686/1686559.png"  style="height: 4em;" alt="">
            </div>
            <h3 class="fs-4 text-center">Disconnect from electronics and social media</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/2519/2519269.png" style="height: 4em;" alt=""> 
            </div>
            <h3 class="fs-4 text-center">Engage in activities that provide meaning</h3>
          </div>
        </div>
      </div>

      <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/2634/2634585.png" style="height: 4em;" alt="">
            </div>
            <h3 class="fs-4 text-center">Volunteer</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/3663/3663335.png"  style="height: 4em; " alt="">
            </div>
            <h3 class="fs-4 text-center">Engage in meditation and/or mindfulness</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
                <img src="https://cdn-icons-png.flaticon.com/512/4813/4813989.png"  style="height: 4em; " alt=""> 
            </div>
            <h3 class="fs-4 text-center">Avoid alcohol and heavy substance use</h3>
          </div>
        </div>
      </div>
      <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
                <img src="https://cdn-icons-png.flaticon.com/512/4897/4897514.png"  style="height: 4em; " alt="">
            </div>
            <h3 class="fs-4 text-center">Get help from a licensed mental health professional</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/366/366973.png"  style="height: 4em;" alt="">
            </div>
            <h3 class="fs-4 text-center">Spend time outdoors</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon fs-2 mb-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/8711/8711670.png"  style="height: 4em; " alt=""> 
            </div>
            <h3 class="fs-4 text-center">Spend time with family and/or friends</h3>
          </div>
        </div>
      </div>

      <div class="container mt-5 text-center">
        <h2 class="text-center">Disaster Distress Helpline</h2>
        <br>
            <h5>SAMHSA’s Disaster Distress Helpline provides 24/7, 365-day-a-year crisis counseling and support to people experiencing emotional distress related to natural or human-caused disasters.</h5>
            <h3 class="fs-5 text-center "><button type="button" class="btn btn-dark mt-4"><a href="tel:1-800-985-5990" style="text-decoration: none; color: white;">1-800-985-5990</a></button></h3>
       </div>


  </body>
  {% endblock %}