{% extends "network/layout.html" %}
{% load static %}

{%block script%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="text-center">Hello, Name</h1>
    </div>

    <div class="container col-sm-4 mt-5">
    <h2>Today</h2>
    <h4>It looks like you haven't uploaded anything today.</h4>
    <form action="{% url 'create' %}" method = "POST">
    <div class="form-group">
            {% csrf_token %}
            {% comment %} <label for="exampleFormControlTextarea1">Label</label> {% endcomment %}
            <textarea class="form-control mt-3" name="postContent" rows="3"></textarea>
    </div>
    <button type="submit" value="Post" class="btn btn-primary rounded mt-3">Add to your journal</button>
    </form>
    </div>
    {% for post in posts %}
    <div class="container col-sm-4 mt-3">
        <h2>{{ post.time|date:"D d M Y"}}</h2>
        <div class="card">
            <img class="card-img-top" src="https://previews.123rf.com/images/savo/savo1908/savo190800177/128509235-abstract-color-pattern-modern-random-colors-ideal-for-textiles-packaging-paper-printing-simple-backg.jpg" alt="Card image cap">
            <div class="card-body">
                <h5>It looks like you had a great day!</h5>
            <p class="card-text" id="content_{{post.id}}">{{ post.content }}</p>
            <button type="button" class="btn btn-dark">Share</button>
            </div>
        </div>
    </div>
    {% endfor %}

    <h5 class="container" style="border-style: hidden;">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}


        Page {{ posts.number }} of {{ posts.paginator.num_pages }}


        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </h5>

{% endblock %}