{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="form">
        <h1>{{ userName }} (#{{ id }})</h1>
    </div>
    {% for post in posts %}
        <div class="container">
            <a href="{% url 'profile' post.owner.id %}"><h2 class="profile_{{post.owner.id}}" data-profile="{{post.owner.id}}" style="font-weight: bold;" >{{ post.owner }}</h2></a>
            <h5>{{ post.content }}</h5>
            <h6>&nbsp; {{ post.time }}</h6>
        </div>
    {% endfor %}

<h5 class="container" style="border-style: hidden;">
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">previous</a>
    {% endif %}


    Page {{ posts.number }} of {{ posts.paginator.num_pages }}


    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">next</a>
    {% endif %}
</h5>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
{% endblock %}