{% extends "network/layout.html" %}

{% block body %}
    <head>
        <title>
            Boston Hacks 2022
        </title>
        <link rel="stylesheet" type="text/css" href="../../static/website/styles.css">
    </head>

    <body>
        <div class="login-form">
            <h1> Welcome! </h1>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <p>Username </p>
                <input autofocus class="form-control" type="text" name="username" placeholder="Enter your username">
                <p> Password </p>
                <input class="form-control" type="password" name="password" placeholder="Enter your Password">
                <button type="submit">
                    <nav>
                        <input type="submit" value="Login">
                    </nav>
                </button>
            </form>
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div>
    </body>    
{% endblock %}